/* MARK: GENERAL */
h3 {
	font-size: 2em;
}

h5 {
	font-size: 1.5em;
}



ul {
	color: #7C7C7C;
}

html {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;


}

body p {
	color: #7C7C7C;
}



main {
	margin: 5% 10%;

}

#cat {width:200px;height:115px;padding:10px;border:1px solid #aaaaaa;}



/* MARK: IDS */

#separator{
	margin-top: 0px;
	width: 100%;
	height: 2px;
	background-color: #2b2d42;
}

#tableForScript1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableForScript1 td, #tableForScript1 th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#tableForScript1 tr:nth-child(even){background-color: #f2f2f2}

#tableForScript1 tr:hover {background-color: #ddd;}

#tableForScript1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}


/* MARK: CLASSES */

.question {
	
    border: 2px solid #2b2d42;

}

.question em {
	color: #2b2d42;
	padding: 20px;
}

#cage{
   background: white url("img/img_cage") no-repeat center center;
}



