<div class="card-panel grey lighten-4">
  <div class="row">
    <form class="col s12" action="lab10.html?color=indigo" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input name="name" type="text">
          <label for="name">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="col6">
          <input class="btn btn-large waves-effect waves-light indigo black-text" type="submit" name="login" value="Ingresar"></input>
        </div>
      </div>
    </form>
  </div>
</div>
