

  <form action="upload.php" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="fileToUpload" id="fileToUpload">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <input class="btn" type="submit" value="Upload" name="submit">
  </form>

<?php
	$dirname = "uploads/";
	$images = glob($dirname."*.png");
	$counter = 0;
	echo '<div class="row">';
	foreach($images as $image) {
		if ($counter > 2){
			echo '</div><div class="row">';
			$counter = 0;
			echo '<div class="col s4 m4">
				<div class="card">
					<div class="card-image">
						<img src="'.$image.'" />
					</div>
				</div>
			</div>';
		} else {
			echo '<div class="col s4 m4">
				<div class="card">
					<div class="card-image">
						<img src="'.$image.'" />
					</div>
				</div>
			</div>';
			$counter++;
		}
	}
	echo '</div>';
?>