<?php
if (isset($_GET["color"])) {
  $color = $_GET["color"];
}else{
  $color = "red darken-1";
}
echo '<footer class="page-footer ' . $color . '">' ;
?>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Acerca</h5>
          <p class="grey-text text-lighten-4">Esta pagina fue realizada para las materias de diseño de aplicaciones web y base de datos.</p>
        </div>
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <a class="grey-text text-lighten-4 left" href="http://www.sublimetext.com/">Powered by Sublime</a>
      </div>
    </div>
  </footer>