     <!-- Header --> 

        <header>
        <!-- Dropdown Structure -->
            <ul id="dropdownHTML" class="dropdown-content">
              <li><a href="labhtml.html?color=light-blue">HTML</a></li>
              <li><a href="labcss.html?color=light-blue">CSS</a></li>
              
            </ul>
            <ul id="dropdownJS" class="dropdown-content">
              <li><a href="labjs.html?color=orange">JS</a></li>
              <li><a href="lablogin.html?color=orange">Lab Login</a></li>
              <li><a href="labtienda.html?color=orange">Lab Tienda</a></li>
              <li><a href="labforma.html?color=orange">Lab Forma</a></li>
              <li><a href="lab6js.html?color=orange">Lab 6</a></li>

            </ul>
            <ul id="dropdownPHP" class="dropdown-content">
              <li><a href="php.html?color=indigo">Lab 8</a></li>
              <li><a href="lab9.html?color=indigo">Lab 9</a></li>
              <li><a href="lab10.html?color=indigo">Lab 10</a></li>
            </ul>
            <?php 
              if (isset($_GET["color"])) {
                $color = $_GET["color"];
              }else{
              $color = "red darken-1";
              }
              echo "<nav class=". $color . ">"; 
            ?>
                <div class="nav-wrapper" >
                    <a href="#" class="brand-logo right">Franco Valencia </a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        
                        <li><a href="index.html">Home</a></li>
                        <li><a href="basedatos.html?color=green">Base de Datos</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-button" href="#!" data-activates="dropdownHTML">HTML & CSS</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-button" href="#!" data-activates="dropdownJS">JavaScript</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-button" href="#!" data-activates="dropdownPHP">PHP</a></li>

                    </ul>
                </div>
            </nav>

        </header>