<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">

  	  <div class="row">
  	  	<div class="col col100">
  	  		<img src="../img/reu_logo.jpg" style = "width:100%">
  	  		<button class="button button-block button-calm" ng-click="login('facebook')"> Login With Facebook </button>
     		<button class="button button-block button-assertive" ng-click="login('google')"> Login with Google </button>
   
  	  	</div>
  	  </div>
  </ion-content>
</ion-view>
