<ion-view view-title="Settings">
  <ion-content class="padding">

  	<!-- MY ACCOUNT -->
  	<h5>MY ACCOUNT</h5>
  	<div class="list">
  	   <div class="item item-avatar item-button-right">
        <img src={{getPicture()}}>
        <h2>{{getDisplayName()}}</h2>
        <p>Logged in with: {{getProvider()}}</p>
      </div>	

	</div>

	<!-- NOTIFICATIONS
	<h5>NOTIFICATIONS</h5>
	<div class="list">
		<li class="item item-toggle">
	     Event Invite
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
		</li>
		<li class="item item-toggle">
	     Event Date Change
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
		</li>
		<li class="item item-toggle">
	     Event Cancel
	     <label class="toggle toggle-balanced">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
		</li>
	</div>

	<!-- PRIVACY 
	<h5>WHO CAN SEE...</h5>
  	<div class="list">

		<label class="item item-input item-select">
		   <div class="input-label">
		      Which Events im going?
		   </div>
		    <select>
		      <option selected>My Friends</option>
		      <option>Everyone</option>
		    </select>
	  	</label>
		<label class="item item-input item-select">
		   <div class="input-label">
		      Which Events im hosting?
		   </div>
		    <select>
		      <option selected>My Friends</option>
		      <option>Everyone</option>
		    </select>
	  	</label>

	</div>

	<!-- ABOUT -->
	<h5>ABOUT</h5>
  	<div class="list">

	  <a class="item item-icon-left" href="#">
    	<i class="icon ion-information-circled"></i>
    	About
  	  </a>
  	  <a class="item item-icon-left" href="#">
    	<i class="icon ion-code"></i>
    	Version - {{version}}
  	  </a>



	</div>

	<button class="button button-block button-calm" ng-click="logout()">Logout</button>






  </ion-content>
</ion-view>