<ion-view view-title="New Event" name="login-view">
	<ion-nav-buttons side="left">
		<a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/events">Back</a>
	</ion-nav-buttons>

	<ion-content class="padding">
			<div class="list">
				<label class="item item-input">
					<input ng-model='createEventForm.title' type="text" placeholder="Event Name">
				</label>
				<label class="item item-input">
					<input ng-model='createEventForm.date' type="text" placeholder="Time">
				</label>
				<label class="item item-input">
					<textarea ng-model='createEventForm.about' placeholder="About"></textarea>
				</label>
				<label class="item item-input">
					<input ng-model='createEventForm.image' type="text" placeholder="Image url">
				</label>
				<label class="item item-input">
					<textarea ng-model='createEventForm.location' placeholder="Location"></textarea>
				</label>
				<button class="button button-block button-calm" ng-click="createEvent()">Create Event</button>
			</div>
	</ion-content>
</ion-view>