<ion-view view-title="{{event.title}}">
<ion-content >

<!-- Header -->
<div class="item item-avatar item-button-right">
  <img ng-src={{event.owner_img}}>
  <h2 class="positive">{{event.owner_name}}</h2>
  <p>{{event.title}} @ {{event.location}}</p>
</div>

<!-- Switch --> 
<div class="animate-switch-container" ng-switch on="selection">
  <div class="animate-switch" ng-switch-default>
  <!-- Menu -->
  <button class="button button-block button-balanced" ng-click=addUserToEvent();>
  Join the Event!
  </button>
  </div>
  <!--TAB: About -->
  <div class="animate-switch" ng-switch-when="about">
    <!-- Menu -->
    <div class="button-bar">
      <a class="button button-positive" ng-click=selectTab("about"); >About</a>
      <a class="button" ng-click=selectTab("chat");>Chat</a>
      <a class="button" ng-click=selectTab("more");>More</a>
    </div>
    <!-- Content -->
    <div class="item item-image">
      <img ng-src={{event.image}}>
    </div>
    <div class="item item-button-right">
      <h2>{{event.title}}</h2>
      <p>{{event.date}} </p>
    </div>
    <div class="item item-text-wrap">
      <h2>About:</h2>
      <p>{{event.about}}</p>
    </div>
    <div class="item">
      <p>
        <a href="#" class="subdued">{{event.attendees.length}} Attendees</a>
        <a href="#" class="subdued">{{event.invited}} Invited</a>
      </p>
    </div>
  </div>
  
  <!--TAB: Chat -->
  <div class="animate-switch" ng-switch-when="chat">
     <!-- Menu -->
    <div class="button-bar">
      <a class="button" ng-click=selectTab("about"); >About</a>
      <a class="button button-positive" ng-click=selectTab("chat");>Chat</a>
      <a class="button" ng-click=selectTab("more");>More</a>
    </div>
    <!-- Content -->
  </div>

  <!--TAB: Settings -->
  <div class="animate-switch" ng-switch-when="more">
    <!-- Menu -->
      <div class="button-bar">
      <a class="button" ng-click=selectTab("about"); >About</a>
      <a class="button" ng-click=selectTab("chat");>Chat</a>
      <a class="button button-positive" ng-click=selectTab("more");>More</a>
    </div>
    <!-- Content -->
    <button class="button button-block button-assertive" ng-if=viewerIsOwner>Delete the event!</button>  
    <button class="button button-block button-assertive" ng-if=!viewerIsOwner ng-click=removeUserFromEvent();>Exit the event!</button>
  </div>
  
</div>
<br>
</ion-content>
</ion-view>