<ion-view view-title="What's On">
  <ion-content class="padding">
    
    <div class="list">
      <div ng-repeat="event in events" >
        
        <a class="item item-avatar item-button-right" href="#/tab/whatson/{{event.$id}}">
          <img ng-src={{event.owner_img}}>
          <h2 class="positive">{{event.owner_name}}</h2> <h2>{{event.title}}</h2>
          <p>{{event.date}} @ {{event.location}}</p>
        </a>

        <a class="item item-image" href="#/tab/whatson/{{event.id}}">
          <img ng-src="{{event.image}}">
        </a>

        <div class="item item-text-wrap">
          <p>
            {{event.description}}
          </p>
        </div>
        <div class="item">
          <p>
            <a href="#" class="subdued">{{event.attendees.length}}  Attendees</a>
            <a href="#" class="subdued">{{event.invited}} Invited</a>
          </p>
        </div>
        <br>
      </div>
    </div>
  </ion-content>     
   
</ion-view>
