<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Contacts Tab -->
  <ion-tab title="Contacts" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>

  <!-- What's On? Tab -->
  <ion-tab title="What's On?" icon-off="ion-compass" icon-on="ion-compass" href="#/tab/whatson">
    <ion-nav-view name="tab-whatson"></ion-nav-view>
  </ion-tab>

  <!-- My Events Tab -->
  <ion-tab title="Events" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/events">
  
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
