<ion-view view-title="Contacts">
    <ion-content>
    <h4> Alpha Testers:</h4>
      <ion-list>
        <ion-item ng-repeat="user in users" class="item item-avatar">

	        <img ng-if="user.google.profileImageURL" ng-src={{user.google.profileImageURL}}>
			<img ng-if="user.facebook.profileImageURL" ng-src={{user.facebook.profileImageURL}}>
	        <h2>{{user.google.displayName}}{{user.facebook.displayName}}</h2>

          
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>