<ion-view view-title="My Events" >
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="newEvent()">New Event</button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="button-bar">
      <a class="button" ng-click="filters = ''">Invited</a>
      <a class="button" ng-click="filters.attendees = '{{user.uid}}'">Attending</a>
      <a class="button" ng-click="filters.owner = '{{user.uid}}'">Hosting</a>
    </div>

    <div class="list">
      <a ng-repeat="event in events | filter:filters"
        href="#/tab/whatson/{{event.$id}}"
        class="item item-thumbnail-left">
        <img ng-src="{{ event.image }}">
        <h2>{{event.title}}</h2>
        <h4>{{event.location }}</h4>
        <h4>{{event.date}}</h4>
        <p>{{event.owner_name}} invited you.</p>
      </a>
    </div>
  </ion-content>
</ion-view>